<div class="col-md-5 offset-md-3">
    <div class="card mt-4 mb-4 ">
        <div class="card-body">
            <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
            <ul *ngIf="userFromApi">
                <li>Rol : {{user.role}}</li>
                <p *ngIf="user.role === 'User'"><u>No puede eliminar tareas</u> <br> <u>Crear tareas</u> <br> <u>Marcar tareas completadas</u></p>
                <p *ngIf="user.role === 'Admin'"><u>Puede eliminar tareas</u> <br> <u>Crear tareas</u> <br> <u>Marcar tareas completadas</u></p>
            </ul>
        </div>
    </div>

    <div class="jumbotron" style="padding: 45px 0px">
        <h4 class="text-center">Lista de Tareas</h4>
    </div>

    <div class="input-group">
        <input type="text" class="form-control" #itemTitle>
        <div class="input-group-append">
            <div class="input-group-append cursor-pointer" (click)="onAdd(itemTitle)">
                <span class="input-group-text"> <i class="bi bi-plus-circle"></i></span>
            </div>
        </div>
    </div>

    <div style="margin: 5px 0px;">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of toDoListArray">
                <span class="cursor-pointer" [class.text-success]="item.isChecked" (click)="alterCheck(item.$key, item.isChecked)">
                    <i class="bi" [ngClass]="item.isChecked ? 'bi-check-circle' : 'bi-circle'" ></i>
                    {{item.title}}
                </span>
                <span class="cursor-pointer text-danger float-right" (click)="onDelete(item.$key)" *ngIf="user.role === 'Admin'">
                    <i class="bi bi-trash"></i>
                </span>
            </li>
        </ul>

    </div>

</div>